* {
  box-sizing: border-box;
}
header {
  height: 60px;
}
body {
  font-family: sans-serif;
  background-image: url("dots.jpg");
}
/* h1 {
color: rgb(120, 120, 120);
font-size: 22px;
margin-right: 450px;
} */
.grid {
  display: flex;
  margin: 3px;
  /* border: 1px solid black; */
  height: 75vh;
  justify-content: center;
}

.game-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 350px;
  max-height: 70vh;
}

div.ball-board {
  display: flex;
  /* border-top: 1px solid black; */
  flex: 1;
}

.instraction-grid {
  margin: 5px 5px 5px 30px;
  /* border: 1px solid black; */
  width: 300px;
  text-align: center;
  color: rgb(120, 120, 120);
}

.ball-grid, .hint-container{
  width: 75px;
  height: calc(70vh / 10);
  /* border: 1px dashed black; */
  display: flex;
  flex-direction: column;
  display: block;
}
.questionmark-grid {
  width: 200px;
  height: calc(70vh / 10);
  /* border: 1px dashed black; */
  display: flex;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('questionmark.png')
}
.headGrid {
  width: 1000;
  height: calc(70vh / 10);
  /* border: 1px dashed black; */
  display: block;
  margin-left: 350px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pegs-grid {
  height: 50px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  /* border: 1px dashed black; */
}

.hint-grid {
  margin: 3px;
  /* border: 1px solid black; */
  width: 100px;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px dashed black; */
}

.hint-grid > .hint {
  width: 50%;
  height: calc(70vh / 20);
  background-color: rgb(240, 240, 245);
}

.cointainer div{
    display: inline-block;
    text-align: center;
}
button {
  margin-top: 0px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: rgb(39, 149, 246);
  border: none;
}

.ball-grid {
  background-color: rgb(240, 240, 245);
  margin: 2px;
}

#switch-grid {
  display: flex;
  justify-content: center;
}
.pegs {
  height: 50px;
  width: 50px;
  /* border: 1px dashed black; */
  display: inline-block;
  margin: 2px;
}
.pegsBlue {
  background-color:rgb(39, 149, 246)
}
.pegsPink {
  background-color: rgb(232, 39, 246)
}

.pegsGreen {
  background-color:rgb(39, 246, 177)
}
.pegsYellow {
  background-color:rgb(246, 191, 39)
}
.pegsViolet {
  background-color:rgb(149, 39, 246)
}
.pegsGrey {
  background-color:rgb(173, 194, 195)
}

.hint-grid > .hint.blackHint {
  background-color: black;
}
.hint-grid > .hint.redHint {
  background-color: red;
}
